@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.sebm-google-map-container {
  height: 300px;
}

#panel-heading-custom {
    color: #fff !important;
    background-color: #3498db !important;
    border-color: #3498db !important;
}
.failed {
      background-color: #9e9e9e;
      color: white;
}

.returned {
      background-color: #1e90ff;
      color: white;
}