<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="page-header">
				<h1>{{jobId}}</h1>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="status=='SUCCESSFUL'">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Customer Information
					</h3>
				</div>
				<div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Pickup Address</strong>
                            <p>{{job.Order.From.Address}}</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Delivery Address</strong>
                            <p>8, Sher E Bangla Road, Mid Arichpur, Tongi, Gazipur - 1710</p>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-6">
							<strong>Note To Delivery Man</strong>
							<p>Deliver it to Muhammed Tareq Aziz, phonenumber - 01911725897</p>
							<strong>Payment Method</strong>
							<p>Cash On Delivery</p>
						</div>
					</div>
				</div>

			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Tracking
					</h3>
				</div>
				<div class="panel-body">
					Map Element
				</div>
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default">Pick up</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default">Delivery</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default">Delivery Man</button>
					</div>
				</div>
			</div>
            <div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Order Information
					</h3>
				</div>
				<div class="panel-body">
					<p><strong>Your Order is created, we will start processing it shortly!</strong></p>
                    <p>We've got your order, we are getting it ready, a confirmation of your order will be sent to <b>user@email.com.</b></p>
                    <!--<p><strong>Your Order is confirmed, Pickup is in progress!</strong></p>
                    <p>We've accepted your Order, A confirmation email has been sent to <b>user@email.com</b>. Come back to this page for updates on your Order status.</p>
                    <p><strong>Your Pickup has been completed, Delivery is in progress!</strong></p>
                    <p>Your Pickup is completed, Delivery is in progress. Come back to this page for updates on your Order status.</p>
                    <p><strong>You Delivery has been completed!</strong></p>
					<p>Thank you for using our system</p>-->
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Item List
					</h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-hover table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>Item</th>
									<th>Qty</th>
									<th>Unit Price</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Horlicks</td>
									<td>1</td>
									<td>600</td>
									<td>600</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Ovaltin</td>
									<td>1</td>
									<td>300</td>
									<td>300</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Multova</td>
									<td>2</td>
									<td>900</td>
									<td>1800</td>
								</tr>
								<tr>
									<td colspan="4" class="text-right">Subtotal</td>
									<td>3000</td>
								</tr>
								<tr>
									<td colspan="4" class="text-right">Delivery Charge</td>
									<td>50</td>
								</tr>
								<tr>
									<td colspan="4" class="text-right">Total</td>
									<td>3500</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>