<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3 class="text-primary text-left">
				ORDER NO. Job-32J3S5
			</h3>
		</div>
		<div class="col-md-6">
			<h3 class="text-right text-success">
				IN PROGRESS
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Customer Information
					</h3>
				</div>
				<div class="panel-body">
					Package Pickup and Delivery Address
				</div>
				<div class="panel-footer">
					Customer Information Footer
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Tracking
					</h3>
				</div>
				<div class="panel-body">
					Map Element
				</div>
				<div class="panel-footer">
					Map Button
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Item
					</h3>
				</div>
				<div class="panel-body">
					Item List Table
				</div>
				<div class="panel-footer">
					Total and Subtotal Things
				</div>
			</div>
            <div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Order Information
					</h3>
				</div>
				<div class="panel-body">
					Information
				</div>
				<div class="panel-footer">
					Payment Method, Delivery Method
				</div>
			</div>
		</div>
	</div>
</div>