<div *ngIf="status=='IN_PROGRESS'">
    <progress-bubble></progress-bubble>
</div>

<div class="error" *ngIf="status=='FAILED'">
    {{statusMessage}} <button class="btn btn-danger" (click)="getAllJobCount()">click here to refresh</button>
</div>

<div class="row" *ngIf="status=='SUCCESSFUL'">
    <div class="all col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="global-status-block">
            <span>Total</span>
        </div>
        <div class="global-status-block-count">
            <div class="text-right">{{jobCount.ALL}}</div>
        </div>
    </div>
    <div class="pending col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="global-status-block">
            <span>PENDING</span>
        </div>
        <div class="global-status-block-count">
            <div class="text-right">{{jobCount.ENQUEUED}}</div>
        </div>
    </div>
    <div class="in-progress col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="global-status-block">
            <span>IN PROGRESS</span>
        </div>
        <div class="global-status-block-count">
            <div class="text-right">{{jobCount.IN_PROGRESS}}</div>
        </div>
    </div>
    <div class="completed col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="global-status-block">
            <span>COMPLETED</span>
        </div>
        <div class="global-status-block-count">
            <div class="text-right">{{jobCount.COMPLETED}}</div>
        </div>
    </div>
    <div class="returned col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="global-status-block">
            <span>RETURNED</span>
        </div>
        <div class="global-status-block-count">
            <div class="text-right">{{jobCount.RETURNED}}</div>
        </div>
    </div>
    <div class="cancelled col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="global-status-block">
            <span>CANCELLED</span>
        </div>
        <div class="global-status-block-count">
            <div class="text-right">{{jobCount.CANCELLED}}</div>
        </div>
    </div>
</div>