<div class="widget">
    <widget-header title="Job Summary" icon="fa-list-alt">
    </widget-header>
    <widget-body>
        <div *ngIf="status=='IN_PROGRESS'">
            <progress-bubble></progress-bubble>
        </div>
        <div class="error" *ngIf="status=='FAILED'">
            {{statusMessage}}
        </div>
        <div class="row" *ngIf="status=='SUCCESSFUL'">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="widget-content">
                    <div class="widget-icon green pull-left">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="title">{{jobCount.COMPLETED}}</div>
                    <div class="comment">Completed</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="widget-content">
                    <div class="widget-icon blue pull-left">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </div>
                    <div class="title">{{jobCount.IN_PROGRESS}}</div>
                    <div class="comment">In Progress</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="widget-content">
                    <div class="widget-icon orange pull-left">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <div class="title">{{jobCount.ENQUEUED}}</div>
                    <div class="comment">Enqueued</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="widget-content">
                    <div class="widget-icon red pull-left">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                    <div class="title">{{jobCount.CANCELLED}}</div>
                    <div class="comment">Cancelled</div>
                </div>
            </div>
        </div>
    </widget-body>
</div>