<div [ngClass]="{widget: componentMode=='WIDGET'}">
    <widget-header title="Job History" icon="fa-tasks">
        <a href="#" *ngIf="mode=='ADMIN'">Manage</a>
    </widget-header>
    <widget-body classes="no-padding">
        <div class="row">
            <form class="form-horizontal center-block" #searchForm="ngForm">
                <fieldset>
                    <div class="form-group mt col-md-3">
                        <label class="col-md-4 control-label">Order State</label>
                        <div class="col-md-8">
                            <select class="form-control" [(ngModel)]="jobState" (ngModelChange)="jobStateChange($event)">
                                <option value="ALL" selected>ALL</option>
                                <option value="ENQUEUED">PENDING</option>
                                <option value="IN_PROGRESS">IN PROGRESS</option>
                                <option value="COMPLETED">COMPLETED</option>
                                <option value="CANCELLED">CANCELLED</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mt col-md-3">
                        <label class="col-md-4 control-label">Payment Status</label>
                        <div class="col-md-8">
                            <select class="form-control" [(ngModel)]="paymentStatus" (ngModelChange)="jobStateChange($event)">
                                <option value="ALL" selected>ALL</option>
                                <option value="PAID">PAID</option>
                                <option value="PENDING">PENDING</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="row" *ngIf="status=='IN_PROGRESS'">
            <progress-bubble></progress-bubble>
        </div>
        <div class="message row" *ngIf="status=='EMPTY'">
            {{statusMessage}}
        </div>
        <div class="error row" *ngIf="status=='FAILED'">
            {{statusMessage}} <button class="btn btn-danger" (click)="getJobsWithPageNumber('ALL', 'ALL', 0)">click here to refresh</button>
        </div>

        <div class="row table-responsive" *ngIf="status=='SUCCESSFUL'">
            <table class="table">
                <thead>
                    <tr>
                        <th>S/L</th>
                        <th>HRID</th>
                        <th>Package</th>
                        <th>Package Total Price(BDT)</th>
                        <th>Pickup</th>
                        <th>Delivery</th>
                        <th>CashDelivery</th>
                        <th *ngIf="accessMode=='ADMIN'">User</th>
                        <th>Payment Method</th>
                        <th>Payment Status</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let job of jobs; let i = index">
                        <td>{{ i + pagination.Start}}</td>
                        <td class="pointer"><a href="#/track/{{job.HRID}}">{{job.HRID}}</a></td>
                        <td>
                            <ol>
                                <li *ngFor="let item of job.Order.OrderCart.PackageList">{{item.Item}}</li>
                            </ol>
                        </td>
                        <td>
                            {{job.Order.OrderCart.TotalToPay}}
                        </td>
                        <td>
                            <span [ngClass]="getTasksState(job.Tasks[1]).class">{{ getTasksState(job.Tasks[1]).value }}</span>
                        </td>
                        <td>
                            <span [ngClass]="getTasksState(job.Tasks[2]).class">{{ getTasksState(job.Tasks[2]).value }}</span>
                        </td>
                        <td>
                            <span [ngClass]="getTasksState(job.Tasks[3]).class">{{ getTasksState(job.Tasks[3]).value }}</span>
                        </td>
                        <td *ngIf="accessMode=='ADMIN'">{{job.User.UserName}}</td>
                        <td>{{job.PaymentMethod}}</td>
                        <td>
                            <span [ngClass]="setPaymentStatusLabelClass(job.PaymentStatus).class">{{setPaymentStatusLabelClass(job.PaymentStatus).value | uppercase}}</span>
                        </td>
                        <td>
                            {{job.CreateTime | date:"EEE d MMM y,h:m TT"}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </widget-body>
    <widget-footer>
        <ul class="pagination pagination-sm pull-right" *ngIf="status=='SUCCESSFUL'">
            <li *ngIf="pagination.PrevPage">
                <a class="pointer" (click)="getJobsWithPageNumber(jobState, paymentStatus, pagination.PrevPage-1)">&laquo;</a>
            </li>
            <li  *ngFor="let page of paginationArray">
                <a class="{{page.isSelected}} pointer" (click)="getJobsWithPageNumber(page.pageNo)">{{page.pageNo + 1}}</a>
            </li>
            <li *ngIf="pagination.NextPage">
                <a class="pointer" (click)="loadJobWithUrl(jobState, paymentStatus, pagination.NextPage)">&raquo;</a>
            </li>
        </ul>
        <div class=clearfix></div>
    </widget-footer>
</div>