<div [ngClass]="{widget: componentMode=='WIDGET'}">
    <div class="widget-header">
        <i class="fa fa-tasks"></i>
        Job History
        <div class="pull-right">
            <a href="#" *ngIf="mode=='ADMIN'">Manage</a>
        </div>
    </div>
    <div *ngIf="status=='IN_PROGRESS'">
        <div class="loading">
            <div class="double-bounce1"></div>
        </div>
    </div>
    <div class="message" *ngIf="status=='EMPTY'">
        {{this.statusMessage}}
    </div>
    <div class="error" *ngIf="status=='FAILED'">
       {{statusMessage}}
    </div>
    <div class="widget-body medium no-padding" *ngIf="status=='SUCCESSFUL'">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>HRID</th>
                        <th>Name</th>
                        <th>State</th>
                        <th *ngIf="accessMode=='ADMIN'">User</th>
                        <th>Payment Method</th>
                        <th>Payment Status</th>
                        <th>Order Total</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>
                    <tr *ngFor="let job of jobs">
                        <td>{{job.HRID}}</td>
                        <td>{{job.Name}}</td>
                        <td>
                            <span [ngClass]="setJobStatusLabelClass(job.State)">{{job.State}}</span>
                        </td>
                        <td *ngIf="accessMode=='ADMIN'">{{job.User.UserName}}</td>
                        <td>{{job.PaymentMethod}}</td>
                        <td>
                            <span [ngClass]="setPaymentStatusLabelClass(job.PaymentStatus)">{{job.PaymentStatus | uppercase}}</span>
                        </td>
                        <td>
                            {{job.Order.OrderCart.TotalToPay}}
                        </td>
                        <td>
                            {{job.CreateTime | date:"EEE d MMM y,h:m TT"}}
                        </td>
                        <td>
                            {{job.ModifiedTime | date:"EEE d MMM y,h:m TT"}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
