<div>
    <div class="row">
        <form class="form-horizontal center-block" #searchForm="ngForm">
            <div class="row">
                <div class="col-md-3">
                    <label>Search:</label>
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search for Phonenumber, GO! Fetch Tracking No, Invoice Id, Address, Package etc"  (keyup.enter)="search()">
                </div>
                <div class="col-md-1">
                    <label>Select Job State</label>
                    <select class="form-control" [(ngModel)]="jobState" (ngModelChange)="search($event)">
                        <option value="ALL">All</option>
                        <option disabled>──────────────────────────────</option>
                        <option value="ENQUEUED">PENDING</option>
                        <option disabled>──────────────────────────────</option>
                        <option value="IN_PROGRESS">IN PROGRESS</option>
                        <option value="PICKUP_IN_IN_PROGRESS">PICKUP IN PROGRESS</option>
                        <option value="DELIVERY_IN_PROGRESS">DELIVERY IN PROGRESS</option>
                        <option value="CASH_DELIVERY_IN_PROGRESS">CASH DELIVERY IN PROGRESS</option>
                        <option value="RETURN_DELIVERY_IN_PROGRESS">RETURN DELIVERY IN PROGRESS</option>
                        <option value="RETRY_DELIVERY_IN_PROGRESS">RETRY DELIVERY IN PROGRESS</option>
                        <option disabled>──────────────────────────────</option>
                        <option value="COMPLETED">COMPLETED</option>
                        <option value="PICKUP_COMPLETED">PICKUP COMPLETED</option>
                        <option value="DELIVERY_COMPLETED">DELIVERY COMPLETED</option>
                        <option value="CASH_DELIVERY_COMPLETED">CASH DELIVERY COMPLETED</option>
                        <option value="RETURNED_DELIVERY_COMPLETED">RETURNED DELIVERY COMPLETED</option>
                        <option value="RETRY_DELIVERY_COMPLETED">RETRY DELIVERY COMPLETED</option>
                        <option disabled>──────────────────────────────</option>
                        <option value="CANCELLED">CANCELLED</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <label>Show per page:</label>
                    <select class="form-control" [(ngModel)]="pageCount" (ngModelChange)="search($event)">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>From:</label>
                    <span class="input-group-btn">
                        <input class="form-control" [(ngModel)]="startTime" type="date">
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-danger" (click)="clearDate()">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
                <div class="form-group col-md-2">
                    <label>To:</label>
                    <span class="input-group-btn">
                        <input class="form-control" [(ngModel)]="endTime" type="date">
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-danger" (click)="clearDate()">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
                <div class="form-group col-md-2">
                    <label>Filter By:</label>
                    <select class="form-control" [(ngModel)]="filterTime" style="width: 100%" (ngModelChange)="search($event)">
                        <option value=""></option>
                        <option value="CreateTime">Create Time</option>
                        <option value="CompletionTime">Completion Time</option>
                        <option value="ModifiedTime">Modified Time</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <br>
                    <button id="search-button" class="btn btn-primary" (click)="search()">SEARCH JOBS</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" *ngIf="status=='IN_PROGRESS'">
        <progress-bubble></progress-bubble>
    </div>
    <div class="message row" *ngIf="status=='EMPTY'">
        {{statusMessage}}
    </div>
    <div class="error row" *ngIf="status=='FAILED'">
        {{statusMessage}} <button class="btn btn-danger" (click)="getJobsWithPageNumber('ALL', 'ALL', 0)">click here to refresh</button>
    </div>

    <div class="row table-responsive" *ngIf="status=='SUCCESSFUL'">
        <h3>{{pagination.Total}} Result found</h3>
        <table class="table">
            <thead>
                <tr>
                    <th style="width:20px">S/L</th>
                    <th style="width:150px">Tracking Id</th>
                    <th style="width:120px">
                        Created
                        <a class="orderby-button" (click)="orderByTimeWithDirection('CreateTime', 'asc')">
                            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                        </a>
                        <a class="orderby-button" (click)="orderByTimeWithDirection('CreateTime', 'desc')">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th style="width:120px">
                        Last Modified
                        <a class="orderby-button" (click)="orderByTimeWithDirection('ModifiedTime', 'asc')">
                            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                        </a>
                        <a class="orderby-button" (click)="orderByTimeWithDirection('ModifiedTime', 'desc')">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th style="width:200px">Status</th>
                    <th style="width:200px">Reference Invoice</th>
                    <th style="width:300px">Package</th>
                    <th style="width:300px">Pickup Address</th>
                    <th style="width:300px">Delivery Address</th>
                    <th *ngIf="accessMode=='ADMIN'">User</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of jobs; let i = index">
                    <td>{{ i + pagination.Start}}</td>
                    <td class="pointer"><a href="#/track/{{job.HRID}}">{{job.HRID}}</a></td>
                    <td>{{job.CreateTime | date:"EEE d MMM y"}}</td>
                    <td>{{job.ModifiedTime | date:"EEE d MMM y"}}</td>
                    <td>
                        <span class="hrstate" [ngClass]="getJobStateCSS(job.State).class">{{ job.HRState }}</span>
                    </td>
                    <td>{{job.Order.ReferenceInvoiceId}}</td>
                    <td>
                        <ul style="text-align: left">
                            <li *ngFor="let item of job.Order.OrderCart.PackageList">{{item.Item}}</li>
                            <li>Total Price : {{job.Order.OrderCart.TotalToPay}} BDT</li>
                        </ul>
                    </td>
                    <td>{{job.Order.From.Address}}</td>
                    <td>{{job.Order.To.Address}}</td>
                    <td *ngIf="accessMode=='ADMIN'">{{job.User.UserName}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <ul class="pagination pagination-sm pull-right mr50" *ngIf="status=='SUCCESSFUL'">
        <li *ngIf="prevPageNo !== -1">
            <a class="pointer" (click)="loadPage(prevPageNo)">&laquo;</a>
        </li>
        <li *ngFor="let page of paginationArray">
            <a class="{{page.isSelected}} pointer" (click)="loadPage(page.pageNo)">{{page.pageNo + 1}}</a>
        </li>
        <li *ngIf="nextPageNo">
            <a class="pointer" (click)="loadPage(nextPageNo)">&raquo;</a>
        </li>
    </ul>
    <div class=clearfix></div>
</div>