.selected {
    background-color: #337ab7 !important;
    color: white;
}

.mt15 {
    margin-top: 15px;
}

.search {
    margin-top: 20px;
}

.search-input {
    width: 2%;
}

table {
    table-layout: fixed;
}

th, td {
    text-align: center;
}

.hrstate {
    font-size: 100%;
    font-weight: 500;
}

#search-button {
    margin: 4px 0px 0px 16px;
}

h3 {
    margin: 10px;
}

.orderby-button {
    color: #7d7979;
    cursor: pointer;
}

.orderby-button:hover{
    color: black;
}