<div id="cart-sidebar">
    <div class="row text-center sidebar-header">
        <span class="pull-left">Total {{numberOfItems}} items</span>
        <span class="pull-right">{{orderCart.OrderCart.TotalToPay | number:'1.2-2'}} ৳</span>
        <div class="alert alert-danger" role="alert" *ngIf="!isLoggedIn && (packageListHasItem || orderCart.Description)">
            You have to login first to checkout!
        </div>
    </div>
    <div>
        <div class="alert alert-danger" role="alert" *ngIf="!packageListHasItem && !orderCart.Description">
            Currently You have no Item in the Cart!
        </div>
        <div *ngIf="packageListHasItem" class="scroll" id="order-cart-item-holder"
            [style.max-height]="sidebarHeight+'px'" (window:resize)="onResize($event)">
            <div class="row" *ngFor="let item of orderCart.OrderCart.PackageList; let i = index">
                    <div class="col-sm-1 col-md-1">
                    <i class="fa fa-plus-circle pointer fa-lg up-down-icon" aria-hidden="true" (click)="increaseQuantity(i)"></i>
                    <i class="fa fa-minus-circle pointer fa-lg up-down-icon" aria-hidden="true" (click)="decreaseQuantity(i)"></i>
                </div>
                <div class="col-sm-2 col-md-2">
                    <img class="cart-sidebar-item-img" src="{{item.PicUrl}}" alt="">
                </div>
                <div class="col-sm-5 col-md-5">
                    {{ item.Item }}
                </div>
                <div class="col-sm-1 col-md-1">
                    <div class="item-quanity">
                        <span>{{item.Quantity}}</span>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2">{{ item.Total | number:'1.2-2' }}</div>
                <div class="col-sm-1 col-md-1">
                    <i class="fa fa-times remove-icon" aria-hidden="true" (click)="removeItem(i)"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 text-right">Subtotal : </div>
                <div class="col-md-2 text-right">{{ orderCart.OrderCart.SubTotal | number:'1.2-2' }}</div>
            </div>
            <div class="row">
                <div class="col-md-10 text-right">Delivery Charge</div>
                <div class="col-md-2 text-right">{{ orderCart.OrderCart.ServiceCharge }}</div>
            </div>
            <div class="row">
                <div class="col-md-10 text-right">Total</div>
                <div class="col-md-2 text-right">{{ orderCart.OrderCart.TotalToPay | number:'1.2-2' }}</div>
            </div>
        </div>


        <form id="custom-order" *ngIf="orderCart.Description">
            <div class="form-group">
                <h3>CUSTOM ORDER</h3>
                <textarea class="form-control" rows="5" [(ngModel)]="orderCart.Description"></textarea>
            </div>
            <button class="btn btn-danger pull-right" (click)="clearCustomOrder()">CLEAR</button>
        </form>
    </div>
    <div class="checkout-buttons">
        <form>
            <div class="form-group">
                <button class="btn btn-primary col-md-12" (click)="closeShoppingCartModal()" *ngIf="!packageListHasItem && !orderCart.Description">CONTINUE SHOPPING</button>
                <button class="btn btn-primary col-md-12" (click)="notLoginAlert()" *ngIf="(packageListHasItem || orderCart.Description) && !isLoggedIn">CHECKOUT</button>
                <a class="btn btn-primary col-md-12" href="#/checkout" *ngIf="(packageListHasItem || orderCart.Description) && isLoggedIn">CHECKOUT</a>
            </div>
        </form>
    </div>
</div>