#cart-sidebar {
    background: #f8f7f4;
    width: 30%;
    min-width: 400px;
    position: fixed;
    right: 0;
    /*top: 5%;*/
    padding: 10px;
    z-index: 4;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
    -moz-box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
    box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
}

.scroll {
     overflow-y: scroll;
}

.sidebar-header{
    font-size: 2em;
    padding: 10px;

}

#order-cart-item-holder{
    min-width: 400px;
}

#custom-order{
    margin-bottom: 70px;
}
.cart-icon {
    color: white;
    margin: 0px;
}

.remove-icon {
    color: #cbc8c8;
    margin: 0px;
}
.remove-icon:hover {
    color: red;
}
.up-down-icon {
    margin: 0px;
    color: #cbc8c8;
}
.up-down-icon:hover{
    color: black;
}
.up-down-icon-div{
    margin-top: -17px;
}
.item-quanity{
    margin-left: 2px;
}
.cart-sidebar-item-img{
    width: 50px;
}
.quantity-background {
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
}
.sidebar-cart{
    background: #3498db;
    width: 80px;
    text-align: center;
    right: 0;
    padding: 15px 0px;
    border-radius: 4px 0px 0px 4px;
    position: fixed;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
    -moz-box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
    box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
}
.sidebar-cart-in-sidebar{
    background: #3498db;
    border-radius: 4px 0px 0px 4px;
    position: fixed;
    margin-left: -38px;
    padding: 26px 3px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
    -moz-box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
    box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
}
.toggler:hover {
    background: #42A5F5;
}
.bottombar-cart {
    display: none;
}
.has-item {
    color: white;
}

@media only screen and (max-width: 768px) {
   #cart-sidebar {
       display: none;
   }
   .sidebar-cart{
       display: none;
   }
   .has-item {
        color: black;
    }
   .bottombar-cart {
        display: block;
        position: fixed;
        background: #3498db;
        bottom: 0;
        z-index: 4;
        width: 100%;
        height: 10%;

        -webkit-box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
        -moz-box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
        box-shadow: 0px 0px 10px 1px rgba(139,138,145,0.41);
    }
    .quantity-background{
        border-radius: 17px;
        width: 30px;
        background-color: white;
        margin-top: -15px;
        margin-left: -13px;
        font-size: 1.5em;
        position: absolute;
    }
    .bottombar-cart-content{
        margin-top: 5%;
    }
    .bottombar-cart-price {
        font-size: 1.5em;
        color: white;
    }
    .bottombar-cart-price-div {
        margin-left: -25px;
        margin-top: 5%;
    }
    .cart-icon-div {
        margin-top: 5%;
    }
    .cart-button {
        padding: 10px 30px;
        margin-top: 8%;
    }
    .cart-button-div {
        margin-left: 24px;
    }
    #order-cart-item-holder{
        min-width: 100%;
    }
    .cart-sidebar-item-img{
        width: 40px;
    }
}