<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <b>{{AppTitle}}</b>
      </a>
    </div>
    <div class="navbar-collapse collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Sign In</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Delivery<br/>
          Simplified</h1>
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Register</button>
        </form>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /headerwrap -->
<!-- <script src="js/TweenLite.min.js"></script>
<script src="assets/js/EasePack.min.js"></script>
<script src="assets/js/rAF.js"></script> -->
<script src="assets/js/header.js"></script>
