.front-name-div {
    position: relative;
    overflow: hidden;
}
.front-name-div h1 {
    padding: 200px 200px 0 200px;
    position: relative;
    z-index: 2;
}
.front-name-div p {
    position: relative;
    z-index: 2;
    padding-bottom: 200px;
    font-size: 16px;
    font-weight: 400;
}
.front-name-div img {
    opacity: 0.4;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}