<div class="container">
  <form class="form-horizontal center-block" name="orderForm" #orderForm="ngForm">
    <fieldset>

      <div class="form-group">
        <div>
          <br>
          <div *ngIf="orderCreationStatus =='FAILED'" class="form-group">
            <label class="col-md-8 control-label" for="error"></label>
            <div class="col-md-4 alert alert-danger" [innerHtml]="orderResponseMessage"></div>
          </div>
          <div  *ngIf="orderCreationStatus=='SUCCESS'" class="form-group">
            <label class="control-label" for="success"></label>
            <div class="center-block alert alert-success alert-dismissable">
              <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
              <div class="text-center">
                Order created Successfully, Your job id <span style="font-size: 20px; font-weight: 600">{{submittedJobId}}</span>, click
                <a href="#/track/{{submittedJobId}}">here</a> to track!
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="order-type">Select Order Type</label>
        <div class="col-md-4">
          <select required ngControl="orderType" #orderType="ngForm" class="form-control" name="orderType" id="orderType" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.Type" (ngModelChange)="onOrderTypeChange($event)">
            <option value="Delivery">Delivery</option>
            <option value="ClassifiedDelivery">ClassifiedDelivery</option>
          </select>
        </div>
      </div>

      <br>
      <hr>
      <br>


      <div class="form-group">
        <label class="col-md-4 control-label" for="seller-name">Seller's Name</label>
        <div class="col-md-4">
          <input type="text"  ngControl="sellerName" #sellerName="ngForm" class="form-control" id="seller-name" name="seller-name"
            [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.SellerInfo.Name" (ngModelChange)="onSellerAddressChange($event)">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="seller-phone">Seller's Phone Number</label>
        <div class="col-md-4">
          <input type="tel"  ngControl="sellerPhone" #sellerPhone="ngForm" class="form-control" id="seller-phone" name="seller-phone" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.SellerInfo.PhoneNumber" (ngModelChange)="onSellerAddressChange($event)">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="seller-address">Seller's Address</label>
        <div class="col-md-4">
          <textarea required ngControl="sellerAddress" #sellerAddress="ngForm" class="form-control" id="seller-address" name="seller-address" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.SellerInfo.Address.AddressLine1" (ngModelChange)="onSellerAddressChange($event)"></textarea>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label" for="select-pick-up-area">Pickup Area</label>
        <div class="col-md-4">
          <select id="select-pick-up-area" name="select-pick-up-area" class="form-control" [disabled]="orderCreationStatus =='IN_PROGRESS'" [(ngModel)]="orderModel.From.Locality">
            <option value=""></option>
            <option *ngFor="let area of areas" [value]="area">{{area}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="select-pick-up-time">Pickup Time</label>
        <div class="col-md-1">
          <select class="form-control" [(ngModel)]="_pickupYear">
            <option [value]=""></option>
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <select class="form-control" [(ngModel)]="_pickupMonth">
            <option [value]=""></option>
            <option *ngFor="let month of months" [value]="month.value">{{month.month}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <select class="form-control" [(ngModel)]="_pickupDate">
            <option [value]=""></option>
            <option *ngFor="let date of dates" [value]="date">{{date}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <select class="form-control" [(ngModel)]="_pickupTime">
            <option [value]=""></option>
            <option *ngFor="let time of timeHourMin" [value]="time.value">{{time.time}}</option>
          </select>
        </div>
      </div>

      <br>
      <hr>
      <br>

       <div class="form-group">
        <label class="col-md-4 control-label" for="buyer-name">Buyer's Name</label>
        <div class="col-md-4">
          <input type="text" required ngControl="buyerName" #buyerName="ngForm" class="form-control" id="buyer-name" name="buyer-name" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.BuyerInfo.Name" (ngModelChange)="onBuyerAddressChange($event)">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="buyer-phone">Buyer's Phone Number</label>
        <div class="col-md-4">
          <input type="tel" required ngControl="buyerPhone" #buyerPhone="ngForm" class="form-control" id="buyer-phone" name="buyer-phone" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.BuyerInfo.PhoneNumber"  (ngModelChange)="onBuyerAddressChange($event)">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="buyer-address">Buyer's Address</label>
        <div class="col-md-4">
          <textarea required ngControl="buyerAddress" #buyerAddress="ngForm" class="form-control" id="buyer-address" name="buyer-address" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.BuyerInfo.Address.AddressLine1" (ngModelChange)="onBuyerAddressChange($event)"></textarea>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label" for="delivery-area">Delivery Area</label>
        <div class="col-md-4">
          <select id="delivery-area" name="delivery-area" class="form-control" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.To.Locality">
            <option value=""></option>
            <option *ngFor="let area of areas" [value]="area">{{area}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="select-pick-up-time">Delivery Time</label>
        <div class="col-md-1">
          <select class="form-control" [(ngModel)]="_deliveryYear">
            <option [value]=""></option>
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <select class="form-control" [(ngModel)]="_deliveryMonth">
            <option [value]=""></option>
            <option *ngFor="let month of months" [value]="month.value">{{month.month}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <select class="form-control" [(ngModel)]="_deliveryDate">
            <option [value]=""></option>
            <option *ngFor="let date of dates" [value]="date">{{date}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <select class="form-control" [(ngModel)]="_deliveryTime">
            <option [value]=""></option>
            <option *ngFor="let time of timeHourMin" [value]="time.value">{{time.time}}</option>
          </select>
        </div>
      </div>
<!--
      <br>
      <hr>
      <br>

      <div class="form-group">
        <label class="col-md-4 control-label" for="payment-method">Payment Method</label>
        <div class="col-md-4">
          <select required ngControl="paymentMethod" #paymentMethod="ngForm" id="payment-method" name="payment-method" class="form-control"
              [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.paymentMethod">
              <option value="CashOnDelivery" selected>CashOnDelivery</option>
          </select>
        </div>
      </div>-->

      <br>
      <hr>
      <br>

      <div class="form-group">
        <label for="" class="col-md-2 control-label">Package List</label>
        <div class="col-md-10 table-responsive">
          <table class="table table-bordered table-hover col-md-4">
            <thead>
              <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-5">Item Name</th>
                <th class="col-md-2">Quantity</th>
                <th class="col-md-2">Unit Price</th>
                <th class="col-md-2">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orderModel.OrderCart.PackageList; let i = index">
                <th scope="row">{{i+1}}</th>
                <td class="wrap">
                  <textarea required ngControl="itemName" #itemName="ngForm" class="form-control" type="text" [(ngModel)]="item.Item"></textarea>
                </td>
                <td>
                  <input required ngControl="itemQuantity" #itemQuantity="ngForm" class="form-control" type="number" min="1" [(ngModel)]="item.Quantity">
                </td>
                <td>
                  <input required ngControl="unitPrice" #unitPrice="ngForm" class="form-control" type="number" min="0" [(ngModel)]="item.Price">
                </td>
                <td>
                  <span class="form-control">{{item.Price * item.Quantity}}</span>
                </td>
                <td><button class="btn btn-link" (click)="removeItem(i)">Remove</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-md-12 control-label">
          <button id="add-more" class="btn btn-primary"
                  (click)="addItem()">Add Item</button>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <div class="form-group">
        <label class="col-md-4 control-label" for="description">Reference Invoice</label>
        <div class="col-md-4">
          <input class="form-control" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.ReferenceInvoiceId">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="description">Package Description</label>
        <div class="col-md-4">
          <textarea class="form-control" id="description" name="description" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.Description"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="note-to-delivery-man">Note To Delivery Man</label>
        <div class="col-md-4">
          <textarea class="form-control" id="note-to-delivery-man" name="note-to-delivery-man" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.NoteToDeliveryMan"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-primary pull-right" [disabled]="!orderForm.valid || orderCreationStatus=='IN_PROGRESS'" (click)="onSubmit()">
           <span *ngIf="orderCreationStatus=='IN_PROGRESS'" class="fa fa-refresh fa-spin"></span>
            Create Order
        </button>
        </div>
      </div>

    </fieldset>
  </form>
</div>