<div class="container">
  <form class="form-horizontal center-block" #orderForm="ngForm">
    <fieldset>

      <div class="form-group">
        <div>
          <!--<h1 class="control-label">{{formTitle}}</h1>-->
          <br>
          <div *ngIf="orderCreationStatus =='FAILED'" class="form-group">
            <label class="col-md-8 control-label" for="error"></label>
            <div class="col-md-4 alert alert-danger" [innerHtml]="orderResponseMessage"></div>
          </div>
          <!--<div *ngIf="orderCreationStatus=='SUCCESS'" class="form-group">
            <label class="col-md-6 control-label" for="success"></label>
            <div class="col-md-6 alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Order created Successfully, Your job id <h3>{{submittedJobId}}</h3> <br>click <a href="#/track/{{submittedJobId}}">here</a> to track!
            </div>
          </div>-->
          <div  *ngIf="orderCreationStatus=='SUCCESS'" class="form-group">
            <label class="control-label" for="success"></label>
            <div class="center-block alert alert-success alert-dismissable">
              <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
              <div class="text-center">
                Order created Successfully, Your job id <span style="font-size: 20px; font-weight: 600">{{submittedJobId}}</span>, click
                <a href="#/track/{{submittedJobId}}">here</a> to track!
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="order-type">Select Order Type</label>
        <div class="col-md-4">
          <select required ngControl="orderType" #orderType="ngForm" class="form-control" name="orderType" id="orderType" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.Type" (ngModelChange)="onOrderTypeChange($event)">
            <option value="Delivery">Delivery</option>
            <option value="ClassifiedDelivery">ClassifiedDelivery</option>
          </select>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <div class="form-group" [hidden]="orderModel.Type == 'ClassifiedDelivery'">
        <label class="col-md-4 control-label" for="pickup-address">Pickup Address</label>
        <div class="col-md-4">
          <textarea required ngControl="pickupAddress" #pickupAddress="ngForm" class="form-control" id="pickup-address" name="pickup-address" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.From.AddressLine1"></textarea>
        </div>
      </div>


      <div class="form-group" [hidden]="orderModel.Type == 'Delivery'">
        <label class="col-md-4 control-label" for="seller-name">Seller's Name</label>
        <div class="col-md-4">
          <input type="text" required ngControl="sellerName" #sellerName="ngForm" class="form-control" id="seller-name" name="seller-name" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.SellerInfo.Name" (ngModelChange)="onSellerAddressChange($event)">
        </div>
      </div>

      <div class="form-group" [hidden]="orderModel.Type == 'Delivery'">
        <label class="col-md-4 control-label" for="seller-phone">Seller's Phone Number</label>
        <div class="col-md-4">
          <input type="tel" required ngControl="sellerPhone" #sellerPhone="ngForm" class="form-control" id="seller-phone" name="seller-phone" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.SellerInfo.PhoneNumber" (ngModelChange)="onSellerAddressChange($event)">
        </div>
      </div>

      <div class="form-group" [hidden]="orderModel.Type == 'Delivery'">
        <label class="col-md-4 control-label" for="seller-address">Seller's Address</label>
        <div class="col-md-4">
          <textarea required ngControl="sellerAddress" #sellerAddress="ngForm" class="form-control" id="seller-address" name="seller-address" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.SellerInfo.Address.AddressLine1" (ngModelChange)="onSellerAddressChange($event)"></textarea>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label" for="select-pick-up-area">Pickup Area</label>
        <div class="col-md-4">
          <select id="select-pick-up-area" name="select-pick-up-area" class="form-control" [disabled]="orderCreationStatus =='IN_PROGRESS'" [(ngModel)]="orderModel.From.Locality">
          <option *ngFor="let area of areas" [value]="area">{{area}}</option>
        </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="select-pick-up-time">Pickup Time</label>
        <div class="col-md-4">
          <input type="text" class="form-control" [(ngModel)]="pickupTime"  value="{{pickupTime | date:'EEE d MMM y,h:m a'}}" (click)="openPickupTimeModal()">
        </div>
      </div>


      <modal #pickupTimeModal class="modal_vcenter" [size]="sm">
        <modal-header>Select Pickup Time</modal-header>
        <modal-body>
          <div>
            <div class="form-group">
              <div class="" >
                <datepicker [(ngModel)]="pickupTime" [showWeeks]="true"></datepicker>
                <timepicker [(ngModel)]="pickupTime"></timepicker>
                <span>{{pickupTime | date:'EEE d MMM y,h:m a'}}</span>
              </div>
            </div>
          </div>
        </modal-body>
        <modal-footer>
          <button class="btn btn-primary" (click)="closePickupTimeModal()">Ok</button>
          <button class="btn btn-danger" (click)="clearPickupTime()">Clear</button>
        </modal-footer>

      </modal>


      <br>
      <hr>
      <br>


      <div class="form-group" [hidden]="orderModel.Type == 'ClassifiedDelivery'">
        <label class="col-md-4 control-label" for="delivery-address">Delivery Address</label>
        <div class="col-md-4">
          <textarea required ngControl="deliveryAddress" #deliveryAddress="ngForm" class="form-control" id="delivery-address" name="delivery-address" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.To.AddressLine1"></textarea>
        </div>
      </div>

       <div class="form-group" [hidden]="orderModel.Type == 'Delivery'">
        <label class="col-md-4 control-label" for="buyer-name">Buyer's Name</label>
        <div class="col-md-4">
          <input type="text" required ngControl="buyerName" #buyerName="ngForm" class="form-control" id="buyer-name" name="buyer-name" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.BuyerInfo.Name" (ngModelChange)="onBuyerAddressChange($event)">
        </div>
      </div>

      <div class="form-group" [hidden]="orderModel.Type == 'Delivery'">
        <label class="col-md-4 control-label" for="buyer-phone">Buyer's Phone Number</label>
        <div class="col-md-4">
          <input type="tel" required ngControl="buyerPhone" #buyerPhone="ngForm" class="form-control" id="buyer-phone" name="buyer-phone" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.BuyerInfo.PhoneNumber"  (ngModelChange)="onBuyerAddressChange($event)">
        </div>
      </div>

      <div class="form-group" [hidden]="orderModel.Type == 'Delivery'">
        <label class="col-md-4 control-label" for="buyer-address">Buyer's Address</label>
        <div class="col-md-4">
          <textarea required ngControl="buyerAddress" #buyerAddress="ngForm" class="form-control" id="buyer-address" name="buyer-address" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.BuyerInfo.Address.AddressLine1" (ngModelChange)="onBuyerAddressChange($event)"></textarea>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label" for="delivery-area">Delivery Area</label>
        <div class="col-md-4">
          <select id="delivery-area" name="delivery-area" class="form-control" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.To.Locality">
          <option *ngFor="let area of areas" [value]="area">{{area}}</option>
        </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="select-pick-up-time">Delivery Time</label>
        <div class="col-md-4">
          <input type="text" class="form-control" [(ngModel)]="deliveryTime" value="{{deliveryTime | date:'EEE d MMM y,h:m a'}}" (click)="openDeliveryTimeModal()">
        </div>
      </div>


      <modal #deliveryTimeModal class="modal_vcenter" [size]="sm">
        <modal-header>Select Delivery Time</modal-header>
        <modal-body>
          <div>
            <div class="form-group">
              <div class="" >
                <datepicker [(ngModel)]="deliveryTime" [showWeeks]="true"></datepicker>
                <timepicker [(ngModel)]="deliveryTime"  ></timepicker>
                <span>{{deliveryTime | date:'EEE d MMM y,h:m a' }}</span>
              </div>
            </div>
          </div>
        </modal-body>
        <modal-footer>
          <button class="btn btn-primary" (click)="closeDeliveryTimeModal()">Ok</button>
          <button class="btn btn-danger" (click)="clearDeliveryTime()">Clear</button>
        </modal-footer>

      </modal>

      <br>
      <hr>
      <br>

      <div class="form-group">
        <label class="col-md-4 control-label" for="payment-method">Payment Method</label>
        <div class="col-md-4">
          <select required ngControl="paymentMethod" #paymentMethod="ngForm" id="payment-method" name="payment-method" class="form-control" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.paymentMethod">
            <option value="CashOnDelivery" selected>Cash On Delivery</option>
          </select>
        </div>
      </div>

      <modal #itemModal class="modal_vcenter" [size]="sm" (onClose)="onModalClosed()" (onDismiss)="onModalDismissed()">
        <modal-header [show-close]="true">
          <h4 class="modal-title">Add Item</h4>
        </modal-header>
        <modal-body>
          <div>
            <div class="form-group">
              <label class="control-label" for="item">Item Name</label>
              <input required ngControl="item" #item="ngForm" class="form-control" id="item" name="item" [(ngModel)]="packageListItem.Item">
            </div>
            <div class="form-group">
              <label class="control-label" for="item">Quantity</label>
              <input required ngControl="qty" #qty="ngForm" type="number" min="1" class="form-control" id="quantity" name="quantity" [(ngModel)]="packageListItem.Quantity">
            </div>
            <div class="form-group">
              <label class="control-label" for="item">Price</label>
              <input type="number" class="form-control" id="price" name="price" [(ngModel)]="packageListItem.Price">
            </div>
          </div>
        </modal-body>
        <modal-footer>
          <button class="btn btn-primary" (click)="addOrUpdateItem()" [disabled]="!item.valid || !qty.valid">{{ itemAddOrUpdateText }}</button>
          <button class="btn btn-primary" (click)="cancelModal()">Cancel</button>
        </modal-footer>
      </modal>

      <br>
      <hr>
      <br>

      <div class="form-group">
        <label for="" class="col-md-4 control-label">Package List</label>
        <div class="col-md-4 table-responsive">
          <table class="table table-bordered table-hover col-md-4">
            <thead>
              <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orderModel.OrderCart.PackageList; let i = index">
                <th scope="row">{{i+1}}</th>
                <td class="wrap">{{item.Item}}</td>
                <td>{{item.Quantity}}</td>
                <td>{{item.Price}}</td>
                <td>{{item.Price * item.Quantity || ""}}</td>
                <td><button class="btn btn-link" (click)="editItem(item)">Edit</button></td>
                <td><button class="btn btn-link" (click)="removeItem(i)">Remove</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-md-8 control-label">
          <button id="add-more" name="add-more" class="btn btn-primary" [disabled]="!deliveryAddress.valid || !paymentMethod.valid || !pickupAddress.valid || orderCreationStatus=='IN_PROGRESS'" (click)="addItem()">Add Item</button>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <div class="form-group">
        <label class="col-md-4 control-label" for="description">Package Description</label>
        <div class="col-md-4">
          <textarea class="form-control" id="description" name="description" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.Description"></textarea>
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="note-to-delivery-man">Note To Delivery Man</label>
        <div class="col-md-4">
          <textarea class="form-control" id="note-to-delivery-man" name="note-to-delivery-man" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.NoteToDeliveryMan"></textarea>
        </div>
      </div>



      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-primary pull-right" [disabled]="!deliveryAddress.valid || !paymentMethod.valid || !pickupAddress.valid || orderCreationStatus=='IN_PROGRESS'" (click)="onSubmit()">
           <span *ngIf="orderCreationStatus=='IN_PROGRESS'" class="fa fa-refresh fa-spin"></span>
            Create Order
        </button>
        </div>
      </div>

    </fieldset>
  </form>
</div>