<div (click)="openShoppingCartModal()">
    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
    <div class="quantity-background {{cartNumberCss}}">
        <strong>{{numberOfItems}}</strong>
    </div>
</div>


<modal #shoppingCart class="modal_vcenter">
    <modal-header [show-close]="true">
        <h1>SHOPPING CART</h1>
        <div class="alert alert-danger" role="alert" *ngIf="!isLoggedIn && (packageListHasItem || orderCart.Description)">
            You have to login first to checkout!
        </div>
    </modal-header>
    <modal-body>
        <div class="alert alert-danger" role="alert" *ngIf="!packageListHasItem && !orderCart.Description">
            Currently You have no Item in the Cart!
        </div>
        <table class="table table-sm table-hover table-responsive" *ngIf="packageListHasItem">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Unit Price</th>
                    <th>Weight</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderCart.OrderCart.PackageList; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>
                        {{ item.Item }}
                        <ul class="list-inline">
                            <li><a class="pointer" style="{color: red;}" (click)="removeItem(i)">Remove</a></li>
                        </ul>
                    </td>
                    <td id="item-quanity">
                        <input type="number" class="form-control" [(ngModel)]="item.Quantity" (ngModelChange)="itemChanged($event)">
                    </td>
                    <td>{{ item.Price }}</td>
                    <td>{{ item.Weight }}</td>
                    <td>{{ item.Total | number:'1.2-2' }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-right">Total Weight</td>
                    <td>{{ orderCart.OrderCart.TotalWeight }}</td>
                    <td colspan="2" class="text-right">Subtotal</td>
                    <td>{{ orderCart.OrderCart.SubTotal | number:'1.2-2' }}</td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right">Delivery Charge</td>
                    <td>{{ orderCart.OrderCart.ServiceCharge }}</td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right">Total</td>
                    <td>{{ orderCart.OrderCart.TotalToPay | number:'1.2-2' }}</td>
                </tr>
            </tbody>
        </table>


        <form id="custom-order" *ngIf="orderCart.Description">
            <div class="form-group">
                <h3>CUSTOM ORDER</h3>
                <textarea class="form-control" rows="5" [(ngModel)]="orderCart.Description"></textarea>
            </div>
            <button class="btn btn-danger pull-right" (click)="clearCustomOrder()">CLEAR</button>
        </form>

    </modal-body>
    <modal-footer>
        <form>
            <div class="form-group">
                <button class="btn btn-primary pull-right" (click)="closeShoppingCartModal()" *ngIf="!packageListHasItem && !orderCart.Description">CONTINUE SHOPPING</button>
                <button class="btn btn-primary pull-right" (click)="notLoginAlert()" *ngIf="(packageListHasItem || orderCart.Description) && !isLoggedIn">CHECKOUT</button>
                <a class="btn btn-primary pull-right" href="#/checkout" *ngIf="(packageListHasItem || orderCart.Description) && isLoggedIn">CHECKOUT</a>
            </div>
        </form>
    </modal-footer>
</modal>