<modal #modal [size]="sm" (onClose)="onModalClosed()" (onDismiss)="onModelDismissed()">
    <form [ngFormModel]="signupForm" (ngSubmit)="onSubmit()">
        <modal-header [show-close]="true">
            <h4 class="modal-title">Sign Up</h4>
        </modal-header>
        <modal-body>
            <div class="buttonmenu">
                <button type="button" class="btn btn-block btn-lg btn-primary">Own a business? Sign up as an Enterprise User</button>
                <button type="button" class="btn btn-block btn-lg btn-primary">Sign up as a User</button>
            </div>
            <div *ngIf="!submitted && userTypeSelected">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ngControl="username" type="text" class="form-control" placeholder="Enter your desried username here" [(ngModel)]="registrationModel.UserName" [ngFormControl]="signupForm.controls['username']">
                    <control-message control="username"></control-message>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input ngControl="email" type="email" class="form-control" placeholder="ex: someone@somewhere.com" [(ngModel)]="registrationModel.Email" [ngFormControl]="signupForm.controls['email']">
                    <control-message control="email"></control-message>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <input ngControl="password" type="password" id="sign-up-password" class="form-control" placeholder="Enter your password" [(ngModel)]="registrationModel.Password" [ngFormControl]="signupForm.controls['password']">
                        <span class="input-group-btn">
                            <button ncShowPassword [ncPasswordControl]="'sign-up-password'" type="button" id="btnpassword" class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-eye-open" style="height:20px"></span></button>
                        </span>
                    </div>
                    <control-message control="password"></control-message>
                </div>
                <div class="form-group">
                    <label for="area">Area you're interested to recieve service from</label>
                    <!-- The reason you guys are not seeing a ngFromControl here is
                    an existing bug in Angular2 bootstrap module. For details, go to
                    https://github.com/valor-software/ng2-bootstrap/issues/463
                    If its fixed update the process here -->
                    <input autocomplete="off" type="text" class="form-control" [(ngModel)]="localityQuery" [typeahead]="localities" (typeaheadOnSelect)="onLocalitySelect($event)" [typeaheadOptionsLimit]="7" placeholder="Start typing your area" required>
                </div>
            </div>
            <div *ngIf="submitted && !submitCompleted" class="form-group">
                <h3>Please Wait..</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
            <div *ngIf="submitCompleted" class="form-group">
                <h3>{{submitResultMessage}}</h3>
            </div>
        </modal-body>
        <modal-footer *ngIf="!submitted && userTypeSelected">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">
            Sign Up
            </button>
        </modal-footer>
    </form>
</modal>