<footer class="mainfooter" role="contentinfo">
  <hr>
  <div class="container"><br>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-pad">
          <h4>Contact Us</h4>
          <address>
            <ul class="list-unstyled">
              <li>
                GO! Fetch<br>
                House# 28, Road# 20<br>
                Block - K<br>
                Banani<br>
              </li>
              <li>Phone: 01234567890</li>
              <li>
                <a href="mailto:gofetch@gobd.co">gofetch@gobd.co</a>
              </li>
            </ul>
          </address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-pad">
          <br>
          <ul class="list-unstyled">
            <li><a href="#">Become a Fetcher</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-pad">
          <br>
          <ul class="list-unstyled">
            <li><a href="#">Become a Partner</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Shipping Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-pad">
          <br>
          <ul class="list-unstyled">
            <li><a href="#">Developers</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">&copy; Copyright 2016 - <a href="http://gobd.co">gobd.co</a>, Bangladesh</p>
        </div>
      </div>
    </div>
  </div>
</footer>