.navbar-default
{
    border-color: transparent;
    background-color: #3498db;
}

.navbar-default .navbar-brand
{
    color: white;
    padding: 0px;
}

.navbar-default .navbar-brand > img {
    width: 115px;
}

.navbar-default .navbar-nav > li > a
{
    color: white;
}

.navbar-blank {
    height: 50px;
}

.fa-bars {
    color: white
}

.navbar-right {
    margin-right: 10px;
}

i {
    margin: 0;
}

#job-search-form {
    min-width: 270px !important;
}

.tracking-modal {
    margin: 0px 15px 0px 15px;
}

.navbar-brand {
    width: 50px;
    margin: 0px 6px;
}