.navbar-default
{
    border-color: transparent;
    background-color: #01579B;
}

.navbar-default .navbar-brand
{
    color: white;
}

.navbar-default .navbar-nav > li > a
{
    color: white;
}

.navbar-blank {
    height: 50px;
}

.fa-bars {
    color: white
}

.navbar-right {
    margin-right: 10px;
}