<div class="navbar-blank"></div>
<div class="navbar navbar-default navbar-fixed-top">
  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
        <span id="navbar-toggle-menu" class="fa fa-bars" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['Home']">
        <b>{{AppTitle}}</b>
      </a>
    </div>
    <div class="navbar-collapse collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let elm of navBarElementDict[State]">
          <a (click)="elm.Event()">{{elm.Title}}</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<signup #signup></signup>
<login #login (onLoginCompleted)="onLoginCompleted($event)"></login>