<div class="navbar-blank"></div>
<div class="navbar navbar-default navbar-fixed-top">
  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
        <span id="navbar-toggle-menu" class="fa fa-bars" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['Home']">
        <b>{{AppTitle}}</b>
      </a>
    </div>
    <div class=col-md-8></div>
    <div class="">
    <form name="jobSearchForm" class="navbar-form navbar-left">
          <div class="input-group">
              <input type="text" [(ngModel)]="jobId" class="form-control" pattern="Job-[A-Z|0-9]{8}" title="ex: Job-VV1XDFOW" placeholder="ex: Job-SDHA54SD">
              <span class="input-group-btn">
                  <button class="btn btn-default" (click)="saerchJob(jobId)">
                      <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
              </span>
          </div>
      </form>
    </div>
    <div class="navbar-collapse collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let elm of navBarElementDict[State]">
          <a class="pointer" (click)="elm.Event()">{{elm.Title}}</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<signup #signup></signup>
<login #login (onLoginCompleted)="onLoginCompleted($event)"></login>

