<form [ngFormModel]="orderForm" class="form-horizontal center-block">
  <fieldset>

    <div class="form-group">
      <div class="col-md-7 col-sm-7">
        <h1 class="control-label">{{formTitle}}</h1>
        <br>
        <div *ngIf="orderCreationStatus =='FAILED'" class="form-group">
            <label class="col-md-8 control-label" for="error"></label>
            <div class="col-md-4 alert alert-danger" [innerHtml] = "orderResponseMessage"></div>
        </div>
      </div>

    </div>
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="pickup-address">Pickup Address</label>
      <div class="col-md-4">
        <textarea class="form-control" id="pickup-address" name="pickup-address" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.From.AddressLine1" [ngFormControl]="orderForm.controls['pickupAddress']"></textarea>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="select-pick-up-area">Pickup Area</label>
      <div class="col-md-4">
        <select id="select-pick-up-area" name="select-pick-up-area" class="form-control" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.From.Locality">
          <option *ngFor="let area of areas" [value]="area">{{area}}</option>
        </select>
      </div>
    </div>
    <br>
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="delivery-address">Delivery Address</label>
      <div class="col-md-4">
        <textarea class="form-control" id="delivery-address" name="delivery-address" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.To.AddressLine1" [ngFormControl]="orderForm.controls['deliveryAddress']"></textarea>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="delivery-area">Delivery Area</label>
      <div class="col-md-4">
        <select id="delivery-area" name="delivery-area" class="form-control" [disabled]="orderCreationStatus=='IN_PROGRESS'"[(ngModel)]="orderModel.To.Locality">
          <option *ngFor="let area of areas" [value]="area">{{area}}</option>
        </select>
      </div>
    </div>
    <br>

    <modal #itemModal class="modal_vcenter" [size]="sm" (onClose)="onModalClosed()" (onDismiss)="onModalDismissed()">
      <modal-header [show-close]="true">
        <h4 class="modal-title">Add Item</h4>
      </modal-header>
      <modal-body>
        <div>
          <div class="form-group">
            <label class="control-label" for="item">Item Name</label>
            <div>
              <input class="form-control" id="item" name="item" [(ngModel)]="packageListItem.Item" [ngFormControl]="orderForm.controls['item']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="item">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="packageListItem.Quantity" [ngFormControl]="orderForm.controls['quantity']">
          </div>
          <div class="form-group">
            <label class="control-label" for="item">Price</label>
            <input type="number" class="form-control" id="price" name="price" [(ngModel)]="packageListItem.Price">
          </div>
        </div>
      </modal-body>
      <modal-footer>
        <button class="btn btn-primary" (click)="addMoreItem()">Add</button>
      </modal-footer>
    </modal>

    <br>
    <div class="form-group">
      <label for="" class="col-md-4 control-label">Package List</label>
      <div class="col-md-4 table-responsive">
        <table class="table table-bordered table-hover col-md-4">
          <thead>
            <tr>
              <th>#</th>
              <th>Item Name</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderModel.OrderCart.PackageList; let i = index">
              <th scope="row">{{i+1}}</th>
              <td class="wrap">{{item.Item}}</td>
              <td>{{item.Quantity}}</td>
              <td>{{item.Price}}</td>
              <td>{{item.Price * item.Quantity || ""}}</td>
              <td><button class="btn btn-link" (click)="editItem(item)">Edit</button></td>
              <td><button class="btn btn-link" (click)="removeItem(i)">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="form-group">
      <div class="col-md-8 control-label">
        <button id="add-more" name="add-more" class="btn btn-important" [disabled]="orderCreationStatus=='IN_PROGRESS'" (click)="open()">Add Item</button>
      </div>
    </div>
    <br>
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="description">Package Description</label>
      <div class="col-md-4">
        <textarea class="form-control" id="description" name="description" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.Description"></textarea>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="note-to-delivery-man">Note To Delivery Man</label>
      <div class="col-md-4">
        <textarea class="form-control" id="note-to-delivery-man" name="note-to-delivery-man" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.NoteToDeliveryMan"></textarea>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="payment-method">Payment Method</label>
      <div class="col-md-4">
        <select id="payment-method" name="payment-method" class="form-control" [disabled]="orderCreationStatus=='IN_PROGRESS'" [(ngModel)]="orderModel.PaymentMethod" [ngFormControl]="orderForm.controls['paymentMethod']">
          <option value="CashOnDelivery">Cash On Delivery</option>
        </select>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" name="submit" class="btn btn-primary" [disabled]="!orderForm.valid || orderCreationStatus=='IN_PROGRESS'" (click)="onSubmit()">
           <span *ngIf="orderCreationStatus=='IN_PROGRESS'" class="glyphicon glyphicon-repeat fast-right-spinner"></span>
            Create Order
        </button>
      </div>
    </div>

  </fieldset>
</form>
