<div id="headerwrap">
	<div class="container">
		<div class="center-block text-center">
			<h1>ANYTHING ON DEMAND</h1>
			<h3>Lightning fast deliveries at your fingertips</h3>
			<form (submit)="gotoSearchResultPage($event)" class="form-inline" role="form">
				<div class="form-group">
					<select class="dropdown form-control large-control" [(ngModel)]="selectedArea" required>
						<option value="" selected disabled>Select Area</option>
						<option value="Banani">Banani</option>
						<option value="Baridhara">Baridhara</option>
						<option value="Dhanmondi">Dhanmondi</option>
						<option value="Gulshan 1">Gulshan 1</option>
						<option value="Gulshan 2">Gulshan 2</option>
						<option value="Uttara">Uttara</option>
					</select>
					<input [(ngModel)]="selectedItem" [typeahead]="items" (typeaheadOnSelect)="typeaheadOnSelect($event)" class="form-control large-control"
						placeholder="Search Anything!">
				</div>
				<button [disabled]="(!selectedArea && !selectedItem)" type="submit" class="btn btn-info btn-lg">Search</button>
			</form>
		</div>
	</div>
</div>

<br><br>


	<div class="row">
		<div class="col-md-3"></div>
		<div id="about-us-detail" class="col-md-6 text-center">
			<h1 class="header">About Us</h1>
			<br>
			<span>
				Need to deposit a cheque?<br>
				Pickup a document or laundry?<br>
				Send flower to your loved ones?<br>
				or diapers for baby?<br>
				<span id="about-us-focus">Fetch is The platform to provide you <br>
						 hyper express delivery service for <br>
						 ANYTHING* quickly, easily!</span>
			</span>
			<br><br>
			<button id="custom-order-button" class="btn btn-info" (click)="gotoCustomOrder()">Create Your Custom Order</button>
		</div>
		<div class="col-md-3"></div>
	</div>

<br><br>
<div class="center-block text-center">
	<h1>Find us in the following areas</h1>
	<!--<ul class="list-inline area-list">
		<li *ngFor="let area of areas">
			<a class="pointer area-box" href="#/vendors/{{area}}">{{area}}</a>
		</li>
	</ul>-->
	<br>
	<div class="row">
		<div class="col-md-3 area-box" *ngFor="let area of areas">
			<div class="area-container">
				<a class="pointer area" href="#/vendors/{{area}}">{{area}}</a>
			</div>
		</div>
	</div>
</div>

<br><br>
<div class="center-block text-center">
	<h1 class="header">Featured Vendors</h1>
	<br>
	<span id="featured-vendor-text">Get your daily essentials through our partner vendors</span>
	<br><br>
	<div class="row">
		<a class="col-md-4 col-xs-12 center module"
			href="#/vendors/{{vendor.Area}}/{{vendor.Name}}"
            *ngFor="let vendor of vendors; let i = index"
            [ngStyle]="{'background-image': 'url(' + vendor.Image + ')'}">
            <div class="gradient">
                <span class="featured-vendor-name">{{vendor.Name}}</span><br>
                <span class="featured-vendor-address">{{vendor.Address}}</span><br>
				<span class="featured-vendor-category">{{vendor.Category}}</span>
            </div>
        </a>
	</div>
</div>
<br><br>
<!--<div class="center-block text-center">
	<h2>GO! Fetch at your finger tips</h2>
	<img src="/assets/img/ios.png" width="148" height="51">
	<img src="/assets/img/droid.png" width="148" height="51">
</div>-->


<modal #loginAlert class="modal_vcenter">
    <modal-header [show-close]="true">
        <h1>Login First!</h1>
    </modal-header>
    <modal-body>
        <div class="alert alert-danger" role="alert">
            You have to login to create a custom delivery order. Currently You are not logged in!
        </div>
    </modal-body>
    <modal-footer>
       <button class="btn btn-danger pull-right" (click)="closeloginAlertModal()">Close</button>
    </modal-footer>
</modal>