<div id="headerwrap">
	<div class="container">
		<div class="center-block text-center">
			<h1>ANYTHING ON DEMAND</h1>
			<h3>Lightning fast deliveries at your fingertips</h3>
			<form (submit)="gotoSearchResultPage($event)" class="form-inline" role="form">
				<div class="form-group">
					<select class="dropdown form-control large-control" [(ngModel)]="selectedArea" required>
						<option value="" selected disabled>Select Area</option>
						<option value="Banani">Banani</option>
						<option value="Baridhara">Baridhara</option>
						<option value="Dhanmondi">Dhanmondi</option>
						<option value="Gulshan 1">Gulshan 1</option>
						<option value="Gulshan 2">Gulshan 2</option>
						<option value="Uttara">Uttara</option>
					</select>
					<input [(ngModel)]="selectedItem" [typeahead]="items" (typeaheadOnSelect)="typeaheadOnSelect($event)" class="form-control large-control"
						placeholder="Search Anything!" required>
				</div>
				<button [disabled]="(!selectedArea && !selectedItem)" type="submit" class="btn btn-info btn-lg">Search</button>
			</form>
		</div>
	</div>
</div>


<div class="center-block text-center" id="about-us">
	<h1 class="header">About Us</h1>
	<span id="about-us-detail">Fetch is a platform through which we would like to provide a hyper express delivery service for ANYTHING* quickly, easily!</span>
</div>


<div class="center-block text-center">
	<h1>Find us in the following areas</h1>
	<!--<ul class="list-inline area-list">
		<li *ngFor="let area of areas">
			<a class="pointer area-box" href="#/vendors/{{area}}">{{area}}</a>
		</li>
	</ul>-->
	<div class="row">
		<div class="col-md-2 area-box" *ngFor="let area of areas">
			<div class="area-container">
				<a class="pointer area" href="#/vendors/{{area}}">{{area}}</a>
			</div>
		</div>
	</div>
</div>


<div class="center-block text-center" id="about-us">
	<h1 class="header">Featured Vendors</h1>
	<span id="about-us-detail">Get your daily essentials through our partner vendors</span>

	<div class="row featured">
		<div class="col-md-4 center module"
			(click)="goToVendorMenuPage(vendor.area, vendor.Name)"
            *ngFor="let vendor of vendors; let i = index"
            [ngStyle]="{'background-image': 'url(' + vendor.Image + ')'}">
            <div class="gradient">
                <h1>{{vendor.Name}}</h1>
                <h2>{{vendor.Address}}</h2>
				<h3>{{vendor.Category}}</h3>
            </div>
        </div>
	</div>
</div>

<!--<div class="center-block text-center">
	<h2>GO! Fetch at your finger tips</h2>
	<img src="/assets/img/ios.png" width="148" height="51">
	<img src="/assets/img/droid.png" width="148" height="51">
</div>-->
