.large-control {
    height: 42px;
    font-size: 18px;
}

/* HeaderWrap */
#headerwrap
{
    width: 100%;
    min-height: 650px;
    margin-top: -20px;
    padding-top: 200px;
    background: url(../assets/img/gofetch.jpg) no-repeat center top ;
    background-attachment: relative;
    background-position: center center;

    -webkit-background-size: 100%;
    -webkit-background-size: cover;
       -moz-background-size: 100%;
       -moz-background-size: cover;
         -o-background-size: 100%;
         -o-background-size: cover;
            background-size: 100%;
            background-size: cover;
}

#headerwrap h1
{
    font-size: 45px;
    font-weight: 300;

    margin-top: 60px;
    margin-bottom: 15px;

    letter-spacing: 1px;

    color: white;
}

h3 {
    margin-bottom: 50px;
    color: white;
}

ul li{
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #00afab;
    list-style: none;
}


select option:first-child {
	color: #999999;
}
select.empty {
	color: #999999;
}
select option[disabled]:first-child {
	display: none;
}

.area-box {
    background-color: #3498db;
    height: 100px;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.area-container{
    margin-top: 8%;
}
.area {
    color: white;
    font-size: 2em;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

a.area:hover {
    color: white;
    font-size: 2.2em;
}

div.area-box:hover{
    background-color: black;
}

#about-us-detail {
    font-size: 2em;
}

#header {
    font-size: 3em;
}

.featured-vendor-name{
    font-size: 3em;
}
.featured-vendor-address{
    font-size: 1.5em;
}
.featured-vendor-category{
    font-size: 1em;
}

.center {
  padding: 0 !important;
  margin: 0 auto;
  border: 1px solid #fff;
}
.module {
  text-align: center;
  height: 240px;
  /*width: 360px;*/
  background: no-repeat;
  background-size: cover;
  border-radius: 2px;
  display: inline-block;
}
.big-module, .module:hover {
  cursor: pointer;
}

.gradient {
    padding-top: 10%;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    color: white;

    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(0,0,0,.3)),to(rgba(0,0,0,.4)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.3) 50%,rgba(0,0,0,.4));
    background-image: linear-gradient(180deg,rgba(0,0,0,.3) 50%,rgba(0,0,0,.4));
}

.gradient:hover {
    display: block;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    float: left;

    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(0,0,0,.5)),to(rgba(0,0,0,.7)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.5) 50%,rgba(0,0,0,.7));
    background-image: linear-gradient(180deg,rgba(0,0,0,.5) 50%,rgba(0,0,0,.7));
}

.gradient h1, h2, h3 {
    color: white
}

@media only screen and (max-width: 780px){
    .area {
        margin: 20px;
        padding: 10px 0px;
    }
    .area-box {
        /*background-color: #3498db;*/
        padding: 10px 0px;
    }
    .area-container{
        margin-top: 5%;
    }
}

@media only screen and (max-width: 991px){
    .area-container{
        margin-top: 0%;
        padding-top: 5%;
    }
}

