.large-control {
    height: 42px;
    font-size: 18px;
}

/* HeaderWrap */
#headerwrap
{
    width: 100%;
    min-height: 650px;
    margin-top: -20px;
    padding-top: 200px;
    background: url(../assets/img/gofetch.jpg) no-repeat center top ;

    /*background-color: #3498db;*/
    background-attachment: relative;
    background-position: center center;
    /*color: rgb(54, 69, 79);*/
    -webkit-background-size: 100%;
    -webkit-background-size: cover;
       -moz-background-size: 100%;
       -moz-background-size: cover;
         -o-background-size: 100%;
         -o-background-size: cover;
            background-size: 100%;
            background-size: cover;
}

#headerwrap h1
{
    font-size: 45px;
    font-weight: 300;

    margin-top: 60px;
    margin-bottom: 15px;

    letter-spacing: 1px;

    color: white;
}

#body h2{
    font-size: 30px;
    font-weight: 300;

    margin-top: 60px;
    margin-bottom: 15px;
    margin-left: 65px;

    letter-spacing: 1px;
}

ul li{
    display: inline;
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'myriad-pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    color: #00afab;
    /*color: #3498db;*/
}

select option {
	/*color: black;*/
}
select option:first-child {
	color: #999999;
}
select.empty {
	color: #999999;
}
select option[disabled]:first-child {
	display: none;
}